body
{
  background: $blue;
}
.page-wrapper
{
  background: white;
}

p, ul, ol
{
  margin-bottom: 0.8em;
  
  &:last-child
  {
    margin-bottom: 0;
  }
}

ul, ol
{
  margin-left: 25px;
}
.menu
{
  margin: 0;
}

.main-content
{
  h1
  {
    color: $blue;
    font-weight: 400;
    font-size: 2.25em;
    margin-bottom: 0.5em;
    line-height: 1.1;
  }
  h2
  {
    color: $blue;
    font-weight: 400;
    font-size: 1.675em;
    margin-bottom: 0.5em;
    line-height: 1.1;
  }
  h3
  {
    color: $blue;
    font-weight: 600;
    font-size: 1.15em;
    line-height: 1.1;
    margin-bottom: 0.5em;
  }
  p
  {
    line-height: 1.5;
  }
  a
  {
    color: $blue;
  }
  .button
  {
    color: white;
  }
  em
  {
    color: $blue;
  }
  hr
  {
    border: 0;
    border-bottom: 2px solid $blue;
  }
}
