@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700';

body
{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

input, select, textarea, button
{
  -webkit-font-smoothing: antialiased;
}
