.contact--map
{
  height: 350px;
  width: 100%;
  border-bottom: 2px solid $blue;
  
  @media screen and (max-width: 480px)
  {
    height: 225px;
  }
}

.block__form-contact
{
  padding: 40px 0 50px 0;
  border-bottom: 2px solid $blue;
  margin-bottom: 50px;
  
  .webform-component--name,
  .webform-component--phone-number,
  .webform-component--email,
  .webform-component--preferred-method
  {
    float: left;
    width: 48%;
  }
  .webform-component--name,
  .webform-component--email
  {
    margin-right: 4%;
  }
  .webform-component--message
  {
    clear: both;
  }
}
.block__form-contact-signup
{
  h2
  {
    font-size: 2.25em;
  }
  .webform-component--first-name,
  .webform-component--last-name,
  .webform-component--email,
  .webform-component--categories
  {
    float: left;
    width: 48%;
  }
  .webform-component--first-name,
  .webform-component--email
  {
    margin-right: 4%;
  }
  .webform-component--categories .form-item
  {
    margin-right: 16px;
  }
  .form-actions
  {
    clear: both;
  }
}
